<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
<title>장바구니</title>
</head>
<body>
	<header th:replace="fragments/common :: copy"></header>
	<section>
		<div class="cart_container">

			<h2 class="carth2">Cart</h2>
			<!-- 로그인 상태인 경우에만 보이는 내용 -->
			<!-- 내장바구니 정보 표시 -->
			<div th:if="${session.member != null}">
				<div th:each="cartItem : ${cartlist}" class="product-info">
					<!-- 이미지 표시 -->

					<img th:if="${cartItem.product != null}"
						th:src="'/' + ${cartItem.product.image_url}" alt="Product Image"
						class="cartimg" />
					<!-- 제품 정보 -->
					<!-- 제품 이름 -->
					<div class="cart_info">
						<div th:if="${cartItem.product != null}"
							th:text="${cartItem.product.product_name}" class="cart_name"></div>
						<!-- 제품 갯수 -->
						<div th:text="'counts: ' + ${cartItem.counts} ?: 0"
							class="cart_counts"></div>

						<!-- 제품 가격 -->
						<div th:if="${cartItem.product != null}"
							th:text="'price:' + ${cartItem.product.price}" class="cart_price"></div>
					</div>
				</div>

			</div>
			<!-- 쿠키로부터 장바구니 정보 표시 -->
			<div th:if="${session.member == null}" class="cookie-cart">
				<!-- 비로그인 상태에서 보이는 내용 -->
				<ul>
					<li th:each="cookieCartItem : ${cookieCartList}"
						class="product-info">
						<!-- 이미지 표시 --> <img th:if="${cookieCartItem.product != null}"
						th:src="${cookieCartItem.product.image_url}" alt="Product Image"
						class="cartimg" />
						<div class="cart_info">
							<!-- 제품 이름 -->
							<div th:if="${cookieCartItem.product != null}"
								th:text="'상품: ' + ${cookieCartItem.product.product_name}"
								class="carth2"></div>
							<!-- 제품 가격 -->
							<span
								th:text="'price:' + ${cookieCartItem.price != null ? cookieCartItem.price : '0'}"
								class="cart_price"></span>
							<!-- 제품 갯수 -->
							<span th:text="'counts: ' + ${cookieCartItem.counts ?: 0}"
								class="cart_counts"></span>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</section>
	<footer th:replace="fragments/common :: footer-script"></footer>
</body>
</html>
