<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head">
<title>장바구</title>
</head>
<body>
<header th:replace="fragments/common :: copy"></header>

    <div class="container">
        <h2>장바구니</h2>
        
        <!-- 로그인 상태인 경우에만 보이는 내용 -->
        <div th:if="${l/checkLogin}">
            <p th:text="'안녕하세요, ' + ${username} + '님!'"></p>
            <!-- 회원의 장바구니 상품 목록 표시 -->
            <table>
                <tr>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>가격</th>
                </tr>
                <tr th:each="cartItem : ${cartlist}">
                    <td th:text="${cartItem.product.product_name}"></td>
                    <td th:text="${cartItem.counts}"></td>
                     <td th:text="${cartItem.product.price"></td>
                    <td th:text="${cartItem.product.price * cartItem.counts}"></td>
                </tr>
            </table>
        </div>
        
        
        
        
        <!-- 로그인 상태가 아닌 경우에 보이는 내용 -->
        <div th:unless="${/checkLogin}">
            <p>비로그인 상태입니다. 로그인 후에 장바구니를 이용하실 수 있습니다.</p>
    <!-- 쿠키에서 읽어온 장바구니 정보 표시 -->
    <table>
        <tr>
            <th>상품명</th>
            <th>수량</th>
            <!-- 기타 필요한 컬럼들 -->
        </tr>
        <tr th:each="cartItem : ${cartItems}">
            <td th:text="${cartItem.product.product_name}"></td>
            <td th:text="${cartItem.product.product_name}"></td>
            <td th:text="${cartItem.quantity}"></td>
            <!-- 기타 필요한 컬럼들 -->
        </tr>
    </table>
        </div>
    </div>
    
    
    
	<footer th:replace="fragments/common :: footer-script"></footer>
    
</body>
</html>
