<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>

	<div class="hero_area">
		<div class="bg-box">
			<img src="images/barbie.jpg" alt="">
		</div>
		<header class="header_section" th:replace="fragments/common :: copy">
		</header>
		<!-- end header section -->
		<!-- slider section -->
		<section class="slider_section">
			<div id="customCarousel1" class="carousel slide" data-ride="carousel">
				<div class="container" style="justify-content: flex-end;">
					<div class="row">
						<div class="col-md-7 col-lg-6">
							<div class="detail-box">
								<h1>Welcome to Barbie's Dream Shop</h1>
								<p>Experience the magic of Barbie like never before. From
									fashion-forward styles to inspiring careers, our diverse
									collection offers something for every dreamer. Start your
									journey today.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<!-- end slider section -->
	</div>

	<!-- offer section -->

	<section class="offer_section layout_padding-bottom">
		<div class="offer_container">
			<div class="container ">
				<div class="row">
					<div class="col-md-6  ">
						<div class="box ">
							<div class="img-box">
								<img src="images/01.png" alt="">
							</div>
							<div class="detail-box">
								<h5>"Barbie Doll 3-Piece Set</h5>
								<h6>
									<span>20%</span> Off
								</h6>
								
							</div>
						</div>
					</div>
					<div class="col-md-6  ">
						<div class="box ">
							<div class="img-box">
								<img src="images/02.png" alt="">
							</div>
							<div class="detail-box">
								<h5>clothes Days</h5>
								<h6>
									<span>15%</span> Off
								</h6>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- end offer section -->

	<!--product section -->

	<section class="food_section layout_padding-bottom">
		<div class="container">
			<div class="heading_container heading_center">
				<h2>List</h2>
			</div>

			<ul class="filters_menu">
				<li class="active" data-filter="*">All</li>
				<li data-filter=".dolls">Dolls</li>
				<li data-filter=".clothes">Clothes</li>
				<li data-filter=".accessories">Accessories</li>
				<li data-filter=".playsets">Playsets</li>
			</ul>

			<div class="filters-content">
				<div class="row grid">
					<div th:each="product : ${products}" th:class="'all ' + ${product.categoryName} + ' col-sm-6 col-lg-4'">
						<div class="box">
							<div>
								<a th:href="@{/product/productList}" class="img-box">
									<img th:src="${product.image_url}" alt="" style="width: 100%; height: 100%;">
								</a>
								<div class="detail-box">
									<h5 th:text="${product.product_name}">Product Name</h5>
									<p th:text="${product.product_info}">Product Info </p>
									<div class="options">
										<h6 th:text="${'$'+product.price}">Price</h6>
										<a href="">
												
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-box">
					<a href=""> View More </a>
				</div>
			</div>
		</div>

	</section>

	<!-- end section -->

	<!-- about section -->

	<section class="about_section layout_padding">
		<div class="container  ">

			<div class="row">
				<div class="col-md-6 ">
					<div class="img-box">
						<img src="images/그림3.png" alt="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="detail-box">
						<div class="heading_container">
							<h2>Barbie Quean</h2>
						</div>
						<p>A few lines about Barbie for a Barbie doll shopping mall: A
							Barbie doll shopping mall offers a variety of products related to
							Barbie dolls. Barbie is a well-known doll brand that is beloved
							worldwide. With its unique design and beautiful outfits, Barbie
							sparks the imagination of children and adults alike. Barbie dolls
							come in various styles and themes, each possessing its own charm.
							Young girls can engage in role-playing and unleash their
							creativity through Barbie dolls. They can explore their dreams
							and imagination with Barbie dolls. Moreover, Barbie dolls are
							popular among fashion and beauty enthusiasts, as they can choose
							from a wide range of outfits and accessories to style their
							dolls. At a Barbie doll shopping mall, you can find a wide range
							of Barbie dolls and related products. For instance, you can
							purchase Barbie doll outfits, accessories, bags, vehicles, and
							household items. This allows you to fully customize your Barbie
							doll and create a unique fashion world with endless
							possibilities. A Barbie doll shopping mall offers a special
							experience for Barbie fans, fostering dreams and imagination.
							With captivating Barbie dolls, you can enjoy quality time and
							cultivate your creativity. Let Barbie dolls inspire your
							imagination and showcase your fashion sense. Discover the
							enchanting world of Barbie at a Barbie doll shopping mall!</p>
						<a href=""> Read More </a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="fragments/common :: footer-script"></footer>


</body>

</html>