<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('메인')">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>

	<div class="hero_area">
		<div class="bg-box">
			<img src="images/barbie.jpg" alt="">
		</div>
		<header class="header_section" th:replace="fragments/common :: copy">
		</header>
		<!-- end header section -->
		<!-- slider section -->
		<section class="slider_section">
			<div id="customCarousel1" class="carousel slide" data-ride="carousel">
				<div class="container" style="justify-content: flex-end;">
					<div class="row">
						<div class="col-md-7 col-lg-6">
							<div class="detail-box">
								<h1>Welcome to Barbie's Dream Shop</h1>
								<p>Experience the magic of Barbie like never before. From
									fashion-forward styles to inspiring careers, our diverse
									collection offers something for every dreamer. Start your
									journey today.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<!-- end slider section -->
	</div>

	<!-- offer section -->

	<section class="offer_section layout_padding-bottom">
		<div class="offer_container">
			<div class="container ">
				<div class="row">
					<div class="col-md-6  ">
						<div class="box ">
							<div class="img-box">
								<img src="images/01.png" alt="">
							</div>
							<div class="detail-box">
								<h5>"Barbie Doll 3-Piece Set</h5>
								<h6>
									<span>20%</span> Off
								</h6>
								
							</div>
						</div>
					</div>
					<div class="col-md-6  ">
						<div class="box ">
							<div class="img-box">
								<img src="images/02.png" alt="">
							</div>
							<div class="detail-box">
								<h5>clothes Days</h5>
								<h6>
									<span>15%</span> Off
								</h6>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- end offer section -->

	<!--product section -->

	<section class="food_section layout_padding-bottom">
		<div class="container">
			<div class="heading_container heading_center">
				<h2>List</h2>
			</div>

			<ul class="filters_menu">
				<li class="active" data-filter="*">All</li>
				<li data-filter=".dolls">Dolls</li>
				<li data-filter=".clothes">Clothes</li>
				<li data-filter=".accessories">Accessories</li>
				<li data-filter=".playsets">Playsets</li>
			</ul>

			<div class="filters-content">
				<div class="row grid">
					<div th:each="product : ${products}" th:class="'all ' + ${product.categoryName} + ' col-sm-6 col-lg-4'">
						<div class="box">
							<div>
								<a th:href="@{/product/productList}" class="img-box">
									<img th:src="${product.image_url}" alt="" style="width: 100%; height: 100%;">
								</a>
								<div class="detail-box">
									<h5 th:text="${product.product_name}">Product Name</h5>
									<p th:text="${product.product_info}">Product Info </p>
									<div class="options">
										<h6 th:text="${'$'+product.price}">Price</h6>
										<a href="">
												
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-box">
					<a href=""> View More </a>
				</div>
			</div>
		</div>

	</section>

	<!-- end section -->

	<!-- about section -->

	<section class="about_section layout_padding">
		<div class="container  ">

			<div class="row">
				<div class="col-md-6 ">
					<div class="img-box">
						<img src="images/그림3.png" alt="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="detail-box">
						<div class="heading_container">
							<h2>Barbie Quean</h2>
						</div>
						<p>A few lines about Barbie for a Barbie doll shopping mall: A
							Barbie doll shopping mall offers a variety of products related to
							Barbie dolls. Barbie is a well-known doll brand that is beloved
							worldwide. With its unique design and beautiful outfits, Barbie
							sparks the imagination of children and adults alike. Barbie dolls
							come in various styles and themes, each possessing its own charm.
							Young girls can engage in role-playing and unleash their
							creativity through Barbie dolls. They can explore their dreams
							and imagination with Barbie dolls. Moreover, Barbie dolls are
							popular among fashion and beauty enthusiasts, as they can choose
							from a wide range of outfits and accessories to style their
							dolls. At a Barbie doll shopping mall, you can find a wide range
							of Barbie dolls and related products. For instance, you can
							purchase Barbie doll outfits, accessories, bags, vehicles, and
							household items. This allows you to fully customize your Barbie
							doll and create a unique fashion world with endless
							possibilities. A Barbie doll shopping mall offers a special
							experience for Barbie fans, fostering dreams and imagination.
							With captivating Barbie dolls, you can enjoy quality time and
							cultivate your creativity. Let Barbie dolls inspire your
							imagination and showcase your fashion sense. Discover the
							enchanting world of Barbie at a Barbie doll shopping mall!</p>
						<a href=""> Read More </a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- end about section -->

	<!-- book section -->
	<!-- <!--   <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Book A Table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" class="form-control" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Your Email" />
              </div>
              <div>
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    How many persons?
                  </option>
                  <option value="">
                    2
                  </option>
                  <option value="">
                    3
                  </option>
                  <option value="">
                    4
                  </option>
                  <option value="">
                    5
                  </option>
                </select>
              </div>
              <div>
                <input type="date" class="form-control">
              </div>
              <div class="btn_box">
                <button>
                  Book Now
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  end book section

  client section

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What Says Our Customers
        </h2>
      </div>
      <div class="carousel-wrap row ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>
                <h6>
                  Moana Michell
                </h6>
                <p>
                  magna aliqua
                </p>
              </div>
              <div class="img-box">
                <img src="images/client1.jpg" alt="" class="box-img">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>
                <h6>
                  Mike Hamell
                </h6>
                <p>
                  magna aliqua
                </p>
              </div>
              <div class="img-box">
                <img src="images/client2.jpg" alt="" class="box-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 -->
	-->
	<!-- end client section -->

	<!-- footer section -->
	<footer class="footer_section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 footer-col">
					<div class="footer_contact">
						<h4>Contact Us</h4>
						<div class="contact_link_box">
							<a href=""> <i class="fa fa-map-marker" aria-hidden="true"></i>
								<span> Location </span>
							</a> <a href=""> <i class="fa fa-phone" aria-hidden="true"></i> <span>
									Call +01 1234567890 </span>
							</a> <a href=""> <i class="fa fa-envelope" aria-hidden="true"></i>
								<span> demo@gmail.com </span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 footer-col">
					<div class="footer_detail">
						<a href="" class="footer-logo"> Feane </a>
						<p>Necessary, making this the first true generator on the
							Internet. It uses a dictionary of over 200 Latin words, combined
							with</p>
						<div class="footer_social">
							<a href=""> <i class="fa fa-facebook" aria-hidden="true"></i>
							</a> <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i>
							</a> <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i>
							</a> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i>
							</a> <a href=""> <i class="fa fa-pinterest" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 footer-col">
					<h4>Opening Hours</h4>
					<p>Everyday</p>
					<p>10.00 Am -10.00 Pm</p>
				</div>
			</div>
			<div class="footer-info">
				<p>
					&copy; <span id="displayYear"></span> All Rights Reserved By <a
						href="https://html.design/">Free Html Templates</a><br>
					<br> &copy; <span id="displayYear"></span> Distributed By <a
						href="https://themewagon.com/" target="_blank">ThemeWagon</a>
				</p>
			</div>
		</div>
	</footer>
	<!-- footer section -->
<!-- jQery -->
		
	<script src="js/jquery-3.4.1.min.js"></script>
		<script>

		function redirectToLoginPage() {
			alert("로그인해주세요");
		}

	</script>

	<script>
		function logout() {
			alert("로그아웃 되었습니다.");
		}
	</script>

	<!-- popper js -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
		</script>
	<!-- bootstrap js -->
	<script src="js/bootstrap.js"></script>
	<!-- owl slider -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
	</script>
	<!-- isotope js -->
	<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
	<!-- nice select -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
	<!-- custom js -->
	<script src="js/custom.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
	</script>



</body>

</html>