tml, body {
    height: 100%; /* Set the height to 100% for the entire HTML and body */
    margin: 0;
    padding: 0;
}

.centered-container {
	margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Center the content vertically within the body */
}
 #product-container {
   border: 1px;
   padding: 20px;
   max-width: 1000px;
   display: flex; /* Use flexbox to arrange contents */
   align-items: center; /* Center vertically */
}

.product-img {
    max-width: 500px;
    height: auto;
    margin-right: 30px; /* Add some space between image and detail */
}

.product-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    overflow: hidden;
}

/* Rest of your styles... */

  .product-name,
  .price,
  .product-info,
  .count {
    font-family: 'Delius', sans-serif;
    font-weight: 400;
    color: #000000;
  }

 .product-name {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
  }


  .price {
    font-size: 24px;
  }

  .product-info {
    font-size: 14px;
    line-height: 18px;
  }

  .count {
    font-size: 18px;
  }
  

  .sold-out {
	  color:red;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-amount {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .w-btn-outline {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    transition: 0.25s;
    cursor: pointer;
  }

  .w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
  }

  .w-btn-yellow-outline {
    border: 1px solid #fce205;

  }

  .w-btn-yellow-outline:hover {
    background-color: #fce205;

  }

  .w-btn-skin-outline {
    border: 1px solid #f8e6e0;

  }

  .w-btn-skin-outline:hover {
    background-color: #f8e6e0;
  }

  @media (max-width: 768px) {
    .product-container {
      flex-direction: column;
    }

    .product-img {
      width: 100%;
      margin-right: 0;
      float:none;
    }
  }

